.video-duration-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.875rem;
    line-height: 0.875rem;
    padding: 2px 4px;
    margin: 4px;
    border-radius: 2px;
    letter-spacing: 0.5px;
    background-color: rgba($color: #000, $alpha: 0.8);
    color: #fff;
}

.video-title-link {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    overflow: hidden;
    line-height: 1.15em;
    padding-bottom: 0.1em;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.video-uploader-link {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    overflow: hidden;
    color: $text-muted !important;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.video-badge {
    position: absolute;
    top: 0;
    margin: 4px;

    &.bg-dark {
        background-color: #000 !important;
    }
}

.badge-left {
    left: 0;
}

.badge-right {
    right: 0;
}

.video-watchtime {
    background-color: #000;
    position: relative;
    width: 100%;
    height: 4px;

    .video-watchtimebar {
        background-color: red;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }    
}

.video-thumbnail {
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 100%;
    }

    &.force-16-9 img {
        width: 100%;
        object-fit: cover;
    }
}
