# Both frontend and backend environment variables should be set in this file
# For a complete list of options see https://github.com/graham-walker/youtube-dl-react-viewer/#environment-variables

OUTPUT_DIRECTORY="C:\Output Directory"
SUPERUSER_USERNAME=admin
SUPERUSER_PASSWORD=password
JWT_TOKEN_SECRET=secret
SECURE_COOKIES=false
BACKEND_PORT=5000
YOUTUBE_DL_PATH=yt-dlp
YOUTUBE_DL_UPDATE_COMMAND=pipx install yt-dlp[default]
