.video-description {
    white-space: pre-line;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}

.fake-link {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: none;
    background-color: transparent;

    &:hover {
        --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
        text-decoration: underline;
        cursor: pointer;
    }
}
