.video-description {
    white-space: pre-line;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}

.fake-link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;

    &:hover {
        color: #0056b3;
        text-decoration: underline;
        cursor: pointer;
    }
}
