@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1600px,
    xxxxl: 1800px,
);

// Container widths should be at least 30px less than the breakpoint, divisible by 12, and divisible by 10
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
    xxxl: 1560px,
    xxxxl: 1740px,
);

$dark: #000; // Make dark OLED dark

$logo-red: #ff002c;
$logo-blue: #0d6efd;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "./components/Admin/Admin.scss";
@import "./components/Playlist/Playlist.scss";
@import "./components/Video/Video.scss";
@import "./components/Video/Description/Description.scss";
@import "./components/VideoPreview/VideoPreview.scss";
@import "./components/UploaderList/UploaderList.scss";
@import "./components/Navbar/Navbar.scss";
@import "./components/Activity/Activity.scss";
@import "./components/Video/Comments/Comments.scss";
@import "./components/ThemeController/ThemeController.scss";
@import "./components/Settings/Settings.scss";
@import "./components/Admin/LogFileList/LogFileList.scss";
@import "./components/Settings/AvatarForm/AvatarForm.scss";

html {
    width: 100%;
    width: 100vw;
    overflow-x: hidden;
}

body {
    overflow: initial !important;
    padding-right: 0 !important;
}

a:not(.nav-link):not(.dropdown-item):not(.btn):not(.navbar-brand):not(.page-link) {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

small {
    font-size: 80%;
}

code {
    background: #1F1F1F !important;
    color: #CCCCCC !important;
    padding: 0.15rem 0.35rem;
    border-radius: 0.25rem;
}

// Bootstrap
.btn-primary {
    color: #fff !important;
}

.btn-link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.badge.bg-light {
    color: var(--bs-body-color) !important;
}

// Bootstrap legacy components
.media-container {
    display: flex;
    align-items: flex-start;

    .media-body {
        flex: 1 1;
    }
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

// Dark theme overrides
[data-bs-theme="dark"] {
    --bs-body-bg: #{$dark} !important;
    --bs-light-rgb: 10, 10, 10 !important;
    --bs-dark-rgb: 214, 218, 222 !important;
}

// Helpers
@media (min-width: 768px) {
    .w-md-auto {
        width: auto !important;
    }
}
