// Desktop layout
.video-grid {
    display: grid;
    gap: 0 1.5rem;
    grid-template-columns: 1fr 1fr 400px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "video video recommendations"
        "description description recommendations";

    .video-section {
        grid-area: video;
    }

    .description-section {
        grid-area: description;
    }

    .recommendations-section {
        grid-area: recommendations;
    }
}

// Theater mode
.video-grid.theater-mode {
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "video video"
        "description recommendations";
}

// Mobile layout
@media only screen and (width < 1200px) {
    .video-grid {
        grid-template-columns: 1fr !important;
        grid-template-rows: auto auto auto !important;
        grid-template-areas:
            "video"
            "description"
            "recommendations" !important;
    }

    .vjs-custom-theater-mode-button {
        display: none !important;
    }
}

// Video player
[data-vjs-player="true"] {
    margin: 0 auto;
}

.vjs-poster {
    background-size: cover !important;
}

// Keep player controls visible
.keep-controls-open-windowed .video-js:not(.vjs-fullscreen) .vjs-control-bar,
.keep-controls-open-fullscreen .video-js.vjs-fullscreen .vjs-control-bar,
.keep-controls-open-always .video-js .vjs-control-bar {
    visibility: visible !important;
    opacity: 1 !important;
    transition-duration: 0s !important;
    pointer-events: initial !important;
}

// Position player controls below video
.vjs-control-bar.positioned-below {
    transform: translateY(100%);
}
.vjs-fullscreen .vjs-control-bar.positioned-below {
    transform: unset;
}

// Highlight SponsorBlock segments
.sponsor-segment {
    position: absolute;
    bottom: 0;
    top: 0;
    background: gray;
    pointer-events: none;
}

.sponsor-type-sponsor {
    background: rgb(0, 212, 0);
}

.sponsor-type-selfpromo {
    background: rgb(255, 255, 0);
}

.sponsor-type-interaction {
    background: rgb(204, 0, 255);
}

.sponsor-type-intro {
    background: rgb(0, 255, 255);
}

.sponsor-type-outro {
    background: rgb(2, 2, 237);
}

.sponsor-type-preview {
    background: rgb(0, 143, 214);
}

.sponsor-type-music_offtopic {
    background: rgb(255, 153, 0);
}

.sponsor-type-filler {
    background: rgb(115, 0, 255);
}

// Chapter markers
.chapter-section {
    position: absolute;
    bottom: -14px;
    top: -14px;
}

.chapter-marker {
    background: #2b333f;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 1px;
    pointer-events: none;
}

.vjs-mouse-display .vjs-time-tooltip {
    width: max-content;
}

.vjs-mouse-display .vjs-time-tooltip::after {
    content: var(--chapter-title);
    display: block;
}

// Overlay controls
.player-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    user-select: none;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &.skip-back {
        left: 15%;
        transform: translate(-15%, -50%);

        svg {
            transform: rotateZ(45deg);
        }
    }

    &.skip-forwards {
        right: 15%;
        transform: translate(15%, -50%);

        svg {
            transform: rotateZ(-45deg);
        }
    }

    &.skip-back,
    &.skip-forwards {
        .skip-amount {
            position: absolute;
            top: calc(50% + 1px);
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1rem;
            filter: drop-shadow(0 0 2px #2b333f);
        }
    }

    &.play-pause {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.player-button-visible {
        opacity: 1;
        pointer-events: all;
        transition: 0.1s ease opacity;
    }

    &.player-button-hidden {
        opacity: 0;
        pointer-events: none;
        transition: 1s ease opacity;
    }

    &:hover {
        cursor: pointer;
    }

    svg {
        font-size: 3rem;
        filter: drop-shadow(0 0 2px #2b333f);
    }
}

.video-js:not(.vjs-has-started) .player-button {
    display: none;
}

.video-js.vjs-paused .player-button {
    opacity: 1 !important;
    pointer-events: all !important;
}

.video-js.vjs-paused .play-pause svg.fa-pause {
    display: none !important;
}

.video-js.vjs-playing .play-pause svg.fa-play {
    display: none !important;
}

.video-js.vjs-waiting .play-pause svg,
.video-js.vjs-seeking .play-pause svg {
    display: none !important;
}

// Time controls
.vjs-time-divider {
    padding: 0 !important;
    min-width: 1em !important;
    text-align: center;
}

.vjs-current-time {
    padding-right: 0 !important;
}

.vjs-duration {
    padding-left: 0 !important;
}

.show-current-time {
    .vjs-current-time,
    .vjs-time-divider,
    .vjs-duration {
        display: initial !important;
    }
}

.hide-remaining-time .vjs-remaining-time {
    display: none;
}

// Hide player error message on mobile (it is too long)
@media screen and (max-width: 768px) {
    .vjs-error .vjs-error-display::before {
        display: none;
    }
}
