@media screen and (min-width: 1200px) {
    .recommendations-column {
        max-width: 400px;
    }
}

.vjs-poster {
    background-size: cover !important;
}

.keep-controls-open-windowed .video-js:not(.vjs-fullscreen) .vjs-control-bar,
.keep-controls-open-fullscreen .video-js.vjs-fullscreen .vjs-control-bar,
.keep-controls-open-always .video-js .vjs-control-bar {
    visibility: visible !important;
    opacity: 1 !important;
    transition-duration: 0s !important;
}

.sponsor-segment {
    position: absolute;
    bottom: 0;
    top: 0;
    background: gray;
    pointer-events: none;
}

.sponsor-type-sponsor {
    background: rgb(0, 212, 0);
}

.sponsor-type-selfpromo {
    background: rgb(255, 255, 0);
}

.sponsor-type-interaction {
    background: rgb(204, 0, 255);
}

.sponsor-type-intro {
    background: rgb(0, 255, 255);
}

.sponsor-type-outro {
    background: rgb(2, 2, 237);
}

.sponsor-type-preview {
    background: rgb(0, 143, 214);
}

.sponsor-type-music_offtopic {
    background: rgb(255, 153, 0);
}

.sponsor-type-filler {
    background: rgb(115, 0, 255);
}

.chapter-section {
    position: absolute;
    bottom: -14px;
    top: -14px;
}

.chapter-marker {
    background: #2b333f;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 1px;
    pointer-events: none;
}

.vjs-mouse-display .vjs-time-tooltip {
    width: max-content;
}

.vjs-mouse-display .vjs-time-tooltip::after {
    content: var(--chapter-title);
    display: block;
}
